#main-title {
  font-size: 4rem;
  color: white;
  font-weight: 800;
  color: white;
}

.top-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 9vh;
  padding-top: 1vh;
}


.circular-loader {
  margin: 0 auto;
  width: 500px;
}
.central-content-container {
  display: flex;
  height: calc(100vh - 10vh);
  margin: 0 auto;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    width: 38%;
}

.chart-container {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#chartdiv {
  height: 90%;
  cursor: pointer;
}



.stats-container {
  display: flex;
}

.total-cases,.total-deaths {
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #FA8072;
}

.stats-titles {
  opacity: 0.8;
  color: whitesmoke;
}
#cases-number, #deaths-number {
  font-weight: bold;
  font-size: 3rem;
  opacity: 0.8;
  margin-bottom: 0;
}

#captions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

#captions-container p {
  padding: 10px 0 0 10px;
}

#instructions, #data-src {
  font-size: 1rem;
  padding-bottom: 3vh;
  opacity: 0.6;
}

#news-arrow-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center ;
  flex-direction: column;
}

#news-indic {
  color: #FA8072;
  text-transform: uppercase;
  font-size: 1.5rem;
}

#arrow {
  position: relative;
  color: rgb(233, 131, 124);
  top: 0; bottom: 0;
  left: 0; right: 0;
  padding-top: 10px;
  width: 20px;
  height: 20px;
  font-size: 1.4rem;
  line-height: 10px;
  -webkit-animation: bounce 2s infinite ease-in-out;
  cursor: pointer;
}

@keyframes bounce {
0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
  40%  { -webkit-transform: translateY(-10px); }
80% { -webkit-transform: translateY(-10px); }
}


.error {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

/* news section */
.news-container {
  margin: 0 auto;
  background: #3f3f4f;
}

.news-content {
  width: 50%;
  margin: 0 auto;
  padding-top: 3%;
}

#news-header {
  font-size: 3rem;
  font-weight: bold;

}

.individual-article {
  padding: 2% 0 2% 0;
}

.article-src {
  color: #FA8072;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.published-at {
  opacity: 0.5;
  font-style: italic;
}

.headline {
  font-size: 2rem;
  font-weight: bold;
}

.article-desc {
  font-size: 1.3rem;
  opacity: 0.8;
}

#powered-by {
  opacity: 0.6;
  padding-bottom: 10px;
}


@media screen and (max-width: 1000px) {
  .top-container {
    margin: 0 auto;
    display: block;
    padding: 0;
    padding-top: 5vh;
    width: 80%;
    height: 17vh;
  }
  #main-title {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    height: auto;
    padding-bottom: 1rem;
  }
  .stats-container {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  #cases-number,#deaths-number {
    font-size: 2.5rem;
  }

  .central-content-container {
    height: calc(100vh - 35vh);
  }

  .chart-container {
    width: 100%;
    justify-content: flex-start;
  }

  #captions-container {
    flex-direction: column;
  }


  #news-arrow-container {
    padding: 0;
  }

  .news-content {
    font-size: 1.5rem;
    width: 80%;
  }
  .article-src {
    font-size: 1.5rem;
  }

}

