#main-title {
  font-size: 48px;
  color: white;
  font-weight: 800;
  color: #FA8072;
  height: 80px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}

.circular-loader {
  margin: 0 auto;
  width: 500px;
}
.central-content-container {
  display: flex;
  height: calc(100vh - 81.9px);
  margin: 0 auto;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    width: 38%;
}

.chart-container {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#chartdiv {
  height: 90%;
}

body.light {
  background: rgb(228, 228, 228);
  color: rgb(35, 34, 39)
}

.stats-container {
  display: flex;
}

.total-cases,.total-deaths {
  font-weight: 300;
  letter-spacing: 2px;
  color: #FA8072;
}

.stats-titles {
  opacity: 0.5;
}
#cases-number, #deaths-number {
  font-weight: bold;
  font-size: 38px;
  opacity: 0.8;
  margin-bottom: 0;
}

#news-indic {
  color: #FA8072;
  text-transform: uppercase;
}

#arrow {
  position: relative;
  color: rgb(233, 131, 124);
  top: 0; bottom: 0;
  left: 0; right: 0;
  width: 20px;
  height: 20px;
  padding-top: 7px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 10px;
  -webkit-animation: bounce 2s infinite ease-in-out;
  cursor: pointer;
}

@keyframes bounce {
0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
  40%  { -webkit-transform: translateY(-10px); }
80% { -webkit-transform: translateY(-10px); }
}




/* news section */
.news-container {
  margin: 0 auto;
  background: #3f3f4f;
}

.news-content {
  width: 50%;
  margin: 0 auto;
}

.individual-article {
  padding: 2% 0 2% 0;
}

.article-src {
  color: #FA8072;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.published-at {
  opacity: 0.5;
  font-size: 0.8rem;
  font-style: italic;
}

.headline {
  font-size: 1.3rem;
  font-weight: bold;
}

.article-desc {
  font-size: 0.8rem;
}