html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background: rgb(35, 34, 39);
  font-family: 'Poppins', sans-serif;
  color: white;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}
